{% extends 'cms_base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Add movie</h1>
                {{  form_start(MoviePersonForm) }}
                    {{ form_widget(MoviePersonForm) }}
                    <button type="submit" class="btn btn-primary" formnovalidate>Add</button>
                {{ form_end(MoviePersonForm) }}
            </div>
        </div>
    </div>

{% endblock %}