{% extends 'cms_base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Edit movie</h1>
                {{ form_start(movieForm) }}
                    {{ form_widget(movieForm) }}
                    <button type="submit" class="btn btn-lg btn-primary">Save</button>
                {{ form_end(movieForm) }}
                {% if image is not null %}
                    <div style="max-width:200px;">
                        Existing photo:
                        <img src="/uploads/{{ image }}" alt="" class="img-fluid">
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}