{% extends 'base.html.twig' %}

{% block body %}
    <br><br><br><br>
    <div class="container">
        <div class="pagerfanta">
            {% for item in my_pager.currentPageResults %}
                <ul>
                    <li>{{ dump(item) }}</li>
                </ul>
            {% endfor %}

            <div class="pager text-center">
                {{ pagerfanta(my_pager, 'twitter_bootstrap3') }}
            </div>

        </div>
    </div>
{% endblock %}

